<div class="page-container">
    <button permissionDirective="RECRUITERS_CREATE" mat-raised-button class="!font-bold !ml-auto !w-10 !min-w-0 !bg-rblue" (click)="openRecruitersDialog()">
        <div class="flex justify-center items-center">
            <mat-icon class="text-white !font-bold">
                add
            </mat-icon>
        </div>
    </button>
    <app-list-recruiters *ngIf="recruiters$ | async as recruiters" [recruiters]="recruiters"
        (deletedRecruiter)="deleteRecruiter($event)" (updatedRecruiter)="openPutDialog($event)"></app-list-recruiters>
</div>
<app-spinner></app-spinner>