<div class="page-container">
    <div *ngIf="interviews$ | async as interviews" class="flex flex-col p-6 rounded bg-white">
        <div class="flex justify-between items-center text-base">
            <div>
                <div class="font-bold text-blue">
                    Interviews
                </div>
                <div class="font-semibold text-gray">
                    There are {{interviews.length}} interviews
                </div>
            </div>
            <button mat-button color="primary" class="!font-bold !text-blue !bg-lblue" (click)="openInterviewsDialog()">
                <mat-icon class="!font-bold">
                    add
                </mat-icon>
                New Member
            </button>
        </div>
        <app-list-interviews [interviews]="interviews$ | async" [columnsToDisplay]="columnsToDisplay"
            (deletedInterview)="deleteInterview($event)"
            (updatedInterview)="openPutDialog($event)"></app-list-interviews>
    </div>
</div>
<app-spinner></app-spinner>