<div class="page-container">
    <div class="flex flex-col p-6 rounded bg-white">
        <div class="flex justify-between items-center text-base">
            <div>
                <div class="font-bold text-blue">
                    Interviews
                </div>
                <div class="font-semibold text-gray">
                    There are {{interviews.length}} interviews
                </div>
            </div>
            <!-- TODO новые не добавляются -->
            <button mat-button color="primary" class="!font-bold !text-blue !bg-lblue" (click)="openInterviewsDialog()">
                <mat-icon class="!font-bold">
                    add
                </mat-icon>
                New Member
            </button>
        </div>
        <table #table mat-table [dataSource]="interviews" class="mt-4">
            <ng-container matColumnDef="vacancy">
                <th mat-header-cell *matHeaderCellDef class="!font-bold !text-gray !bg-lgray !rounded-l"> Vacancy </th>
                <td mat-cell *matCellDef="let interview">
                    <div class="flex items-center mt-5 -ml-4 text-base">
                        <div class="flex justify-center items-center font-semibold w-14 h-14 rounded text-coral bg-lcoral mr-4">
                            {{ interview.vacancy.title.slice(0, 3).toUpperCase() }}
                        </div>
                        <div>
                            <div class="text-blue font-semibold">{{ interview.vacancy.title }}</div>
                            <div class="text-gray font-semibold">{{ interview.vacancy.description }}</div>
                        </div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="recruiter">
                <th mat-header-cell *matHeaderCellDef class="!font-bold !text-gray !bg-lgray"> Recruiter </th>
                <td mat-cell *matCellDef="let interview">
                    <div class="text-base">
                        <div class="text-blue font-semibold">{{ interview.recruiter.firstName + ' ' + interview.recruiter.lastName}}</div>
                        <div class="text-gray font-semibold">{{ interview.recruiter.email }}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef class="!font-bold !text-gray !bg-lgray"> Time </th>
                <td mat-cell *matCellDef="let interview">
                    <div class="text-base">
                        <div class="text-blue font-semibold">{{ interview.vacancy.startDate | date: 'HH:mm' }}</div>
                        <div class="text-gray font-semibold">{{ interview.vacancy.startDate | date: 'dd/MM/yyyy' }}</div>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="candidate">
                <th mat-header-cell *matHeaderCellDef class="!font-bold !text-gray !bg-lgray"> Candidate
                </th>
                <td mat-cell *matCellDef="let interview">
                    <div class="text-base">
                        <div class="text-blue font-semibold">{{ interview.candidate.firstName + ' ' + interview.candidate.lastName }}</div>
                        <div class="text-gray font-semibold">{{ getSkills(interview.candidate)}}</div>
                    </div>
                </td>
            </ng-container>
            <!-- TODO не работают кнопки -->
            <ng-container matColumnDef="buttons">
                <th mat-header-cell *matHeaderCellDef class="!font-bold !text-gray !bg-lgray !rounded-r"></th>
                <td mat-cell *matCellDef="let interview">
                    <div class="flex justify-between max-w-24 flex-1 ml-auto">
                        <button mat-mini-fab class="!bg-lgray">
                            <mat-icon class="!text-gray" (click)="openPutDialog(interview)">edit</mat-icon>
                        </button>
                        <button mat-mini-fab class="!bg-lgray">
                            <mat-icon class="!text-gray" (click)="deleteInterview(interview)">delete</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        </table>
    </div>
</div>
<app-spinner></app-spinner>