<div class="page-container text-base">
    <button permissionDirective="CANDIDATES_CREATE" mat-raised-button class="!font-bold !ml-auto !w-10 !min-w-0 !bg-rblue" (click)="openCandidatesDialog()">
        <div class="flex justify-center items-center">
            <mat-icon class="text-white !font-bold">
                add
            </mat-icon>
        </div>
    </button>
    <app-list-candidates *ngIf="candidates$ | async as candidates" [candidates]="candidates"
    (deletedCandidate)="deleteCandidate($event)" (updatedCandidate)="openPutDialog($event)"></app-list-candidates>
</div>
<app-spinner></app-spinner>