<div class="page-container">

    <button mat-raised-button class="!font-bold !ml-auto !w-10 !min-w-0 !bg-rblue" (click)="openVacanciesDialog()">
        <div class="flex justify-center items-center">
            <mat-icon class="text-white !font-bold">
                add
            </mat-icon>
        </div>
    </button>
    <ng-container *ngIf="vacancies$ | async as vacancies">
        <app-list-vacancies [vacancies]="vacancies" *ngIf="recruiters$ | async as recruiters" [recruiters]="recruiters" (deletedVacancy)="deleteVacancy($event)" (updatedVacancy)="openPutDialog($event)"></app-list-vacancies>
    </ng-container>
</div>
<app-spinner></app-spinner>