<form [formGroup]="form">
    <div class="flex flex-col p-6">
        <div class="font-bold text-base mb-4">
            Candidate Create
        </div>
        <mat-form-field>
            <mat-label>First name</mat-label>
            <input matInput formControlName="firstName">
            <mat-error *ngIf="form.get('firstName')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Last name</mat-label>
            <input matInput formControlName="lastName">
            <mat-error *ngIf="form.get('lastName')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Phone number</mat-label>
            <input matInput formControlName="phone">
            <mat-error *ngIf="form.get('phone')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput formControlName="email">
            <mat-error *ngIf="form.get('email')?.hasError('required')">This field is required</mat-error>
            <mat-error *ngIf="form.get('email')?.hasError('email')">Incorrect email</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Birthday</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="birthday">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="form.get('birthday')?.hasError('required')">This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Skills</mat-label>
            <input matInput formControlName="skills">
            <mat-error *ngIf="form.get('skills')?.hasError('required')">This field is required</mat-error>
            <input matInput>
        </mat-form-field>
        <div class="flex justify-between flex-wrap max-w-44 flex-1">
            <button mat-raised-button color="primary" class="!font-bold" [disabled]="!form.valid" (click)="save()">SAVE</button>
            <button mat-raised-button color="warn" class="!font-bold" (click)="cancel()">CANCEL</button>
        </div>
    </div>
</form>