<mat-card class="flex flex-col p-6 mt-6 !rounded" *ngFor="let candidate of candidates">
    <div class="flex flex-wrap items-center">
        <img src="{{ candidate.image }}"  class="w-20 h-20 rounded">
        <div class="flex flex-col flex-1">
            <div class="flex pb-1">
                <div class="flex justify-between items-center font-bold text-lg text-blue px-4">
                    {{ candidate.firstName + ' ' + candidate.lastName }}
                    <mat-icon class="text-rblue ml-1">
                        person
                    </mat-icon>
                </div>
            </div>
            <div class="flex flex-wrap px-4">
                <div class="flex items-center pr-4 font-semibold text-gray">
                    <mat-icon class="mr-2">
                        call
                    </mat-icon>
                    {{ candidate.phone }}
                </div>
                <div class="flex items-center pr-4 font-semibold text-gray">
                    <mat-icon class="mr-2">
                        mail_outline
                    </mat-icon>
                    {{ candidate.email }}
                </div>
                <div class="flex items-center pr-4 font-semibold text-gray">
                    <mat-icon class="mr-2">
                        calendar_month
                    </mat-icon>
                    {{ candidate.birthday | date: 'dd/MM/yyyy' }}
                </div>
            </div>
        </div>
        <div class="flex justify-between flex-wrap max-w-44 flex-1">
            <button mat-raised-button color="warn" class="!font-bold !bg-coral !text-white" (click)="deleteCandidate(candidate)">DELETE</button>
            <button mat-raised-button color="primary" class="!font-bold !bg-rblue !text-white" (click)="updateCandidate(candidate)">EDIT</button>
        </div>
    </div>
    <div class="my-6 h-0.5 bg-lgray"></div>
    <div class="flex text-gray font-semibold">
        <div class="text-blue border-2 border-blue rounded p-1 mr-2"
            *ngFor="let skill of candidate.skills">
            {{ skill }}
        </div>
    </div>
</mat-card>