<mat-card class="flex flex-col py-6 px-8 my-4 !rounded bg-white" *ngFor="let vacancy of vacancies">
    <div class="flex justify-between items-center flex-wrap">
        <div class="flex">
            <div
                class="flex justify-center items-center text-2xl font-semibold w-20 h-20 rounded text-coral bg-lcoral">
                {{ getIcon(vacancy) }}</div>
            <div>
                <a href="#" class="flex font-bold text-lg text-blue px-4 pt-4 flex-wrap">
                    <div>{{ vacancy.title }}</div>
                    <div class="mx-2">
                        ({{ vacancy.seniority }})
                    </div>
                </a>
                <div class="flex flex-wrap px-4 text-base">
                    <div class="flex items-center pr-4 font-semibold text-gray">
                        <mat-icon>attach_money</mat-icon>
                        {{ vacancy.salary }}
                    </div>
                    <div class="flex items-center pr-4 font-semibold text-gray">
                        <mat-icon style="margin-right: 0.5rem;">
                            calendar_month
                        </mat-icon>
                        {{ vacancy.startDate | date: 'dd/MM/yyyy' }}
                    </div>
                    <div class="flex items-center pr-4 font-semibold text-gray">
                        <mat-icon style="margin-right: 0.5rem;">
                            location_on
                        </mat-icon>
                        {{ vacancy.type }}
                    </div>
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center flex-wrap max-w-60 flex-1">
            <img [src]="imageOfRecruiter(vacancy.recruiter)" class="w-12 rounded-10xl">
            <button permissionDirective="VACANCIES_DELETE" mat-raised-button color="warn" class="!font-bold !bg-coral !text-white"
                (click)="deleteVacancy(vacancy)">DELETE</button>
            <button permissionDirective="VACANCIES_EDIT" mat-raised-button color="primary" class="!font-bold !bg-rblue !text-white"
                (click)="updateVacancy(vacancy)">EDIT</button>
        </div>
    </div>
    <div class="my-6 h-0.5 bg-lgray"></div>
    <div class="font-semibold text-base text-gray">
        <div class="description">
            {{ vacancy.description }}
        </div>
    </div>
</mat-card>